<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" /><uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- Don't require camera, as this requires a rear camera. This allows it to work on the Nexus 7 -->
    
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature android:name="android.hardware.screen.landscape" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <!-- This excludes Google TV, which is unfortunately included by virtue of not requiring a camera -->
    <uses-feature android:name="android.hardware.touchscreen" />
    <!-- TODO make this not required again after android.hardware.camera.any is available -->


    <application
        android:name="com.example.myfirstandroid.WeiBaoApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name="com.example.myfirstandroid.LogInActivity"
            android:label="@string/title_activity_login" 
            android:screenOrientation="portrait"
            android:theme="@style/NoSlideTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.myfirstandroid.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.example.myfirstandroid.LogInActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstandroid.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstandroid.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name="MainActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName="com.example.myfirstandroid.LogInActivity"
            android:theme="@style/NoSlideTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myfirstandroid.LogInActivity" />
        </activity>
        <activity
            android:name="com.example.myfirstandroid.FindPasswordActivity"
            android:label="@string/title_activity_find_password" >
        </activity>
        <activity
            android:name="com.example.find.McActivity"
            android:label="@string/all_bussiness" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.example.find.McNearbyActivity"
            android:label="@string/nearby_bussiness" >
        </activity>
        <activity
            android:name="com.example.find.SubscribedMcActivity"
            android:label="@string/subscription_bussiness" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.example.find.ShowMcInfoActivity"
            android:label="@string/info_bussiness" >
        </activity>
        
        
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name="com.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        
        <activity android:label="个人信息" android:name="com.example.me.profile4thTabActivity"></activity>
        <activity android:name="com.example.me.settings4thTabActivity" android:label="设置"></activity>
        <activity android:name="com.example.me.bill4thTabActivity" android:label="我的账单"></activity>
        <activity android:name="com.example.AccountActivities.EditMyImageActivity" android:label="我的头像"></activity>
        <activity android:name="com.example.EditProfileActivities.EditDistrictActivity" android:label="选择地区"></activity>
        <activity android:name="com.example.EditProfileActivities.EditGenderActivity" android:label="性别"></activity>
        <activity android:name="com.example.EditProfileActivities.EditNameActivity" android:label="更改名字"></activity>
        <activity android:name="com.example.EditProfileActivities.EditSignatureActivity" android:label="个性签名"></activity>
        <activity android:name="com.example.AccountActivities.MyAccountActivity" android:label="我的账号"></activity>
        <activity android:name="com.example.AccountActivities.ShowBitmapCardActivity" android:label="二维码名片"></activity>
        <activity android:name="com.example.AccountActivities.boundEmailActivity"></activity>
        <activity android:name="com.example.find.ShowMcPrefInfoActivity"></activity>
        <activity android:name="com.example.find.NotificationActivity"></activity>
        <activity android:name="com.example.find.ShowMcPrefListActivity"></activity>
        
    </application>
    

</manifest>
